<div class="cs-container">
  <h1>About Us</h1>
  <hr class="animate__animated animate__fadeInLeft">
  <hr class="animate__animated animate__fadeInRight">
  <br>

  <p>
    It is the oldest hostel building of the university of kalyani, since before
    the establishment of the university in 1960. Previously, It was an
    institute for teachers basic training and the name was B.T.College
    abbreviation of "Basic Training College". This is the actual reason
    behind today's name of the hostel "B.T-Mens' Hall".
  </p>
  <p>
    After the establishment of the university, B.T.College was affiliated with the university of Kalyani and later turned into a boyes hostel.
    The name of the hostel "Radhakrishnan Bhawan" was decided to give as the name of the first vice-president as well as the second president of our country
    "Dr.Sarvepalli Radhakrishnan" as earlier our hostel building was teachers training institute.
    That's why currently our hostel has two official names that is "Radhakrishnan Bhawan" and "B.T.Men's Hall" as well.
  </p>
  <p>
    Radhakrishnan Bhawan (B.T.-Men's Hall) is situated beside bonga-kulpi main road at cental park that
    is central township area in Kalyani and almost 2-Km away from the main campus of the university.
  </p>

</div>
