/* Typography */
/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,400;0,500;1,500&family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Fredericka+the+Great&family=Jost:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Kalam:wght@300;400&family=Special+Elite&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,100;1,300;1,400;1,500;1,700;1,800&family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Fredericka+the+Great&family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Special+Elite&display=swap');
/*

font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Special Elite', cursive;

*/

p, a, blockquote, span, small, em, div, strong, .cs-font-jost {
  font-family: 'Jost', sans-serif;
}

h1, h2, h3, h4, h5, h6, nav a, .cs-font-alg {
  font-family: 'Alegreya Sans SC', sans-serif;
}
.cs-font-danc, .cs-font-cursive{
  font-family: 'Dancing Script', cursive;
}
.cs-font-amat, .cs-font-strange{
  font-family: 'Amatic SC', cursive;
}
.cs-font-fredm, .cs-font-title{
  font-family: 'Fredericka the Great', cursive;
}
.cs-font-qoute, .cs-font-special{
  font-family: 'Special Elite', cursive;
}

.cs-jumbo-text{
  font-size: 5rem;
}
.cs-text-xxxl{
  font-size: 4rem;
}
.cs-text-xxl{
  font-size: 3rem;
}

h1, .cs-text-xl{
  font-size: 2.2rem;
}
h2{
  font-size: 1.8rem;
}
h3, .cs-text-l{
  font-size: 1.5rem
}
h4{
  font-size: 1.3rem;
}
h5{
  font-size: 1.2rem;
}
h6, .cs-text-m{
  font-size: 1.1rem;
}
small, .cs-text-sm{
  font-size: 0.85rem;
}
.cs-text-xs{
  font-size: 0.75rem;
}

.cs-text-right{
  text-align: right;
}
.cs-text-center{
  text-align: center;
}

p, a, blockquote, span, small, em, div{
  font-weight: 400;
}
.cs-font-light{
  font-weight: 300;
}
.cs-font-bold {
  font-weight: 600;
}
.cs-font-bolder {
  font-weight: 800;
}
.cs-font-lighter{
  font-weight: 200;
}

h3, h4 {
  margin: 1rem 0.5rem;
}

/* ------- --  -------- */

/* Layout */

.cs-spacer {
  flex: 1 1 auto;
}

/* Element Styles */

body{
    margin: 0;
    padding: 0;
    /*background-color: rgb(15, 7, 0);*/
}

body *{
    /*color: white;*/
}

address{
    margin: 1rem 1.2rem;
}

button{
    /*background-color: rgb(24, 11, 0);*/
    border: 1px solid rgb(12, 6, 0);
    cursor: pointer;
    padding: 0.2em 0.5em;
}
