<app-navbar [links]="resources.getNavigationLinks()"></app-navbar>
<mat-sidenav-container>
  <mat-sidenav>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<button (click)="changeLanguage(configValues.languages.be.key)">Change Links</button>
<mat-select (selectionChange)="themeService.useTheme(currentTheme)" [(ngModel)]="currentTheme" >
  <mat-option *ngFor="let theme of themeService.getThemes()" [value]="theme"> {{theme.name}} ({{theme.type}} Theme) </mat-option>
</mat-select>
