<section class="cs-container">
    <div class="ap-edit-profile-form" [fxLayout]="'column'" [fxFlexAlign]="'space-between stretch'">
      <h2 fxFlex>Complete your Account</h2>
      <mat-horizontal-stepper #stepper [linear]="false">
        <mat-step [stepControl]="personalInfoGroup">
          <form [formGroup]="personalInfoGroup" (ngSubmit)="savePersonalDetails()">
            <ng-template matStepLabel>Personal Details</ng-template>
            <div fxLayout="column" fxLayout.gt-sm="row" fxFlexAlign="space-between stretch" fxFlexAlign.gt-sm="start stretch" class="cs-card">
              <mat-form-field fxFlex="45">
                <mat-label>Full Name</mat-label>
                <input matInput name="name" placeholder="Full Name" formControlName="fname" required>
              </mat-form-field>
              <span fxFlex="10"></span>
              <mat-form-field fxFlex="45">
                <mat-label>Date of Birth</mat-label>
                <input matInput name="dob" formControlName="dob" [matDatepicker]="dobPicker">
                <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                <mat-datepicker #dobPicker></mat-datepicker>
              </mat-form-field>

            </div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxFlexAlign="space-between stretch" fxFlexAlign.gt-sm="start stretch" class="cs-card">
              <mat-form-field fxFlex="45">
                <mat-label>Email</mat-label>
                <input matInput name="email" placeholder="Email" formControlName="email" required>
              </mat-form-field>
              <span fxFlex="10"></span>
              <mat-form-field fxFlex="45">
                <mat-label>Contact</mat-label>
                <input matInput name="contact" placeholder="Contact" formControlName="contact" required>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="addressDetailsGroup">
          <form [formGroup]="addressDetailsGroup" (ngSubmit)="saveAddressDetails()">
            <ng-template matStepLabel>Address Details</ng-template>
            <div fxLayout="column" fxLayout.gt-sm="row" fxFlexAlign="space-between stretch" fxFlexAlign.gt-sm="start stretch" class="cs-card">
              <mat-form-field fxFlex="45">
                <mat-label>Street Name</mat-label>
                <input matInput name="street" placeholder="Street Name" formControlName="street">
              </mat-form-field>
              <span fxFlex="10"></span>
              <mat-form-field fxFlex="45">
                <mat-label>City/Village</mat-label>
                <input matInput name="city" placeholder="City" formControlName="city">
              </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxFlexAlign="space-between stretch" fxFlexAlign.gt-sm="start stretch" class="cs-card">
              <mat-form-field fxFlex="45">
                <mat-label>District</mat-label>
                <input matInput name="district" placeholder="District" formControlName="dist">
              </mat-form-field>
              <span fxFlex="10"></span>
              <mat-form-field fxFlex="45">
                <mat-label>PIN</mat-label>
                <input matInput name="pin" placeholder="PIN" formControlName="pin">
              </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxFlexAlign="space-between stretch" fxFlexAlign.gt-sm="start stretch" class="cs-card">
              <mat-form-field fxFlex="45">
                <mat-label>State/Province</mat-label>
                <input matInput name="state" placeholder="State" formControlName="state">
              </mat-form-field>
              <span fxFlex="10"></span>
              <mat-form-field fxFlex="45">
                <mat-label>Country</mat-label>
                <input matInput name="country" placeholder="Country" formControlName="country">
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="boarderInfoGroup">
          <form [formGroup]="boarderInfoGroup" (ngSubmit)="saveBoarderDetails()">
            <ng-template matStepLabel>Boarder Details</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput formControlName="app_id" placeholder="Applcation Id">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>

    </div>
</section>
